.header
    a.logo(href='/')
        img(src='/img/logo.png')
    .user
        i
        span=user.name
    ul.nav-list
        li#nav-1
            a(href='/') 首&nbsp;&nbsp;页
        li#nav-2
            a(href='/games') 浏览发布
        li#nav-3
            a(href='/mygame') 我的游戏

